.rvkol-carosel{
    margin-top: 50px;
    max-width: 1366px;
    margin-left: 15%
}
.rvkol-brand{
    height: 30px;
}


.rvkol-footer{ 
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #2f333e;
    color: #fff;
    padding: 20px 10px;
}

.rvkol-carosel{
    height: 20%;
    overflow: hidden; 
    margin-top: 50px;   
}

.rvkol-banner{
    max-height: 25%;
    overflow: hidden;
}

.rvkol-logo{
    height: auto;
    width: auto;
}