{% extends "base-dashbord.html" %} {% block main %}

<div class="container">
    <nav class="navbar navbar-DetailTab">
        <ul class="nav list-unstyled list-inline">
            <li class=" col-xs-6 col-md-3"><a href="/active-dashbord" class="list-group-item active">活动管理</a></li>
            <li class=" col-xs-6 col-md-3"><a href="/active-zhanhui" class="list-group-item">展会活动</a></li>
        </ul>
    </nav>
  <div class="row">

      <div class="col-md-12">
        <div class="page-header">
            <h1>活动管理</h1>
        </div>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="">活动列表</a>
          </li>
        </ul>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>活动标题</th>
              <th>已参与人数</th>
              <th>创建时间</th>
              <th>公布状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             {% for f in active %} 
             <tr>
              <th scope="row">{{f.activeID}}</th>
              <td>{{f.activeTitle}}</td>
              <td>{{f.activePeople}}</td>
              <td>{{f.createdAt}}</td>
              <td>{{f.activePublish}}</td>
              <td>
                <div role="presentation" class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="{{f.activeLink}}">浏览</a></li>
                    <li><a href=""  >删除</a></li>
                  </ul>
                </div>
              </td>
            </tr>
             {% endfor %}   
          </tbody>
        </table>
        <nav class="pull-right">
            <ul class="pagination">
              <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 </a></li>
              <li class=""><a href="#">2</a></li>
              <li class=""><a href="#">3</a></li>
              <li class=""><a href="#">4</a></li>
              <li class=""><a href="#">5</a></li>
              <li class=""><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
      </div>
  </div>


</div>

  

{% endblock %}