{% extends "base-dashbord.html" %} {% block main %}

<div class="container">
    <nav class="navbar navbar-DetailTab">
        <ul class="nav list-unstyled list-inline">
                <li class="col-xs-6 col-md-3"><a href="/article-dashbord" class="list-group-item active">文章/视频管理</a></li>
                <li class="col-xs-6 col-md-3"><a href="/article-add" class="list-group-item">添加文章/视频</a></li>
            </ul>
  </nav>
  <div class="row">

      <div class="col-md-12">
        <div class="page-header">
            <h1>文章/视频管理</h1>
        </div>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="">文章/视频列表</a>
          </li>
        </ul>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>文章标题</th>
              <th>文章类型</th>
              <th>更新时间</th>
              <th>作者</th>
              <th>公布状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             {% for f in data %} 
             <tr>
              <th scope="row">{{f.articleID}}</th>
              <td>{{f.articleTitle}}</td>
              <td>{{f.articleWenzhangleixing}}</td>
              <td>{{f.updatedAt}}</td>
              <td>{{f.articleZuozhe}}</td>
              <td>{{f.articlePublish}}</td> 
              <td>
                <div role="presentation" class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="articleDetails/{{f.articleID}}">浏览</a></li>
                    <li><a href="article-change/{{f.articleID}}">编辑</a></li>
                    <li><a href=""  onclick="articleDel('{{f.articleID}}')" >删除</a></li>
                    <li><a href="" onclick="articlePublish('{{f.articleID}}')" >公布</a></li>
                    <li><a href="" onclick="articleUnPublish('{{f.articleID}}')">取消公布</a></li>
                  </ul>
                </div>
              </td>
            </tr>
             {% endfor %}   
          </tbody>
        </table>
        <nav class="pull-right">
            <ul class="pagination">
              <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 </a></li>
              <li class=""><a href="#">2</a></li>
              <li class=""><a href="#">3</a></li>
              <li class=""><a href="#">4</a></li>
              <li class=""><a href="#">5</a></li>
              <li class=""><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
      </div>
  </div>


</div>

  

{% endblock %}