<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="全球最新房车咨讯 www.rvkol.com">
    <title>{{ title }}</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-form.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <base target="_blank" />
    
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="/static/css/summernote.css">  -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
     <script src="/static/js/summernote.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet"> 
     <script src="/static/js/lang/summernote-zh-CN.js"></script>
     <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/css/fileinput.min.css" rel="stylesheet">
     <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/js/fileinput.min.js"></script>
     <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/js/locales/zh.min.js"></script>
     <script src="/static/js/bootstrap-paginator.js"></script>
</head>

<body>
    <!-- 顶部导航 -->
    <nav class="navbar navbar-default col-md-12 " style="z-index:5">

            <div class="navbar-header">
                <!-- 小屏幕导航按钮和logo -->
                <button class="navbar-toggle" role="button" data-toggle="collapse" data-target="#baseBar" aria-expanded="false" aria-controls="collapseExample">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>


                <!-- 顶部导航项目 -->
                <div id="baseBar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                                <li><a href="/dashbord"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                                <li><a href="/cars-dashbord"><span class="glyphicon glyphicon-resize-vertical"></span>&nbsp;&nbsp;车型库管理</a></li>
                                <li><a href="/article-dashbord"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;文章管理</a></li>
                                <li><a href="/ads-dashbord"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;广告管理</a></li>
                                <li><a href="/active-dashbord"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;活动管理</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                            <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              {{username}}
                                              <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="/"><span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;前台首页</a></li>
                                            </ul>
                                        </li>
                                <li><a href="/dashbord">退出</a></li>
                            </ul>
                </div>

    </nav>



    {% block main %} {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright&nbsp;©️&nbsp; 2018-2019 www.rvkol.com &nbsp;京ICP备：19007889</p>
                </div>
            </div>
        </div>
    </footer>

</body>
<!-- 用于防止页面跳转 -->
<iframe name="frame1" frameborder="0" id="frame" style="display:none;"></iframe>
<iframe name="frame2" frameborder="0" id="frame" style="display:none;"></iframe>
<iframe name="frame3" frameborder="0" id="frame" style="display:none;"></iframe>

<script src="/static/js/costumChart.js"></script>
<script src="/static/js/dashbord.js"></script>
<!-- <script type="text/javascript">
    function upload() {
        $("#form1").submit();
        var t = setInterval(function() {
            //获取iframe标签里body元素里的文字。即服务器响应过来的"上传成功"或"上传失败"
            var word = $("iframe[name='frame1']").contents().find("body").text();
            if (word != "") {
                alert(word);        //弹窗提示是否上传成功
                clearInterval(t);   //清除定时器
            }
        }, 1000);
    }
</script> -->

</html>