<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="全球最新房车咨讯 www.rvkol.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/chexing.css">
    <link rel="stylesheet" href="/static/css/RvDetails.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="logo col-md-2 col-md-offset-1 col-xs-4" ">
            <a href="/">
                <img class="img-responsive" src="/static/img/logo.jpeg" alt="">
            </a>
        </div>

        <div class="col-md-5 col-xs-8" id="so" style="padding: 25px 25px 25px 0px">
                <div class="input-group">
                    <input type="text" class="form-control" onkeydown="onKeyDown(event)"/>
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-search"> <span >搜 索</span></i></a></span>
                </div>
        </div>
    </div>
    
    <!-- 顶部导航 -->
    <div class="row ">
        <nav class="navbar navbar-default col-md-12 ">

                <div class="navbar-header " style="max-height: 100px ">
                    <!-- 小屏幕导航按钮和logo -->
                    <button class="navbar-toggle " role="button " data-toggle="collapse " href="#baseBar
                    " aria-expanded="false " aria-controls="collapseExample ">
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                    </button>
                    <!-- <a href="/ " class="navbar-brand "><img src="/static/img/logo.jpeg " style="max-height:50px
                    "  class="img-responsive "></a> -->
                </div>


                <!-- 顶部导航项目 -->
                <div id="baseBar " class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav ">
                        <li><a href="/ ">首页</a></li>
                        <li><a href="/RvDetails/1 ">车型库</a></li>
                        <li><a href="/ ">文章</a></li>
                        <li><a href="/ ">微信公众号</a></li>
                        <li><a href="/ ">联系我们</a></li>
                    </ul>
                </div>

        </nav>
    </div>


    {% block main %} {% endblock %}
    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <p>Copyright&nbsp;©️&nbsp; 2018-2019 www.rvkol.com &nbsp;京ICP备：130429号-9</p>
                </div>
            </div>
        </div>
    </footer>

</body>
<!-- 用于防止页面跳转 -->
<iframe name="frame1 " frameborder="0 " id="frame " style="display:none; "></iframe>
<script src="/static/js/base.js "></script>
</html>