{% extends "base-dashbord.html" %} {% block main %}

<div class="container">

    <nav class="navbar navbar-DetailTab">
        <ul class="nav list-unstyled list-inline">
            <li class=" col-xs-6 col-md-3"><a href="/cars-dashbord" class="list-group-item">车型管理</a></li>
            <li class=" col-xs-6 col-md-3"><a href="/cars-add" class="list-group-item active">编辑车型</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>添加车型</h1>
            </div>
            <div class="DetailsContext-Box">
                <div class="DetailsContext-Title">基础信息</div>
                <h2 class="Detailscontext-SubTitle">车辆信息</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>车型ID：</label>
                        <input id="carID" value="{{data[0].carID}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车型名称：</label>
                        <input id="carTitle1" value="{{data[0].carTitle1}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车型品牌：</label>
                        <input id="carLogo" value="{{data[0].carLogo}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最低参考价格：</label>
                        <input id="carPriceMin" value="{{data[0].carPriceMin}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最高参考价格：</label>
                        <input id="carPriceMax" value="{{data[0].carPriceMax}}"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">车辆介绍(每一条请以句号结尾，前端可以自动换行）</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-12" style="display:flex">
                        <textarea rows="7" cols="200" id="carTitle2">{{data[0].carTitle2}}</textarea>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">车辆图片</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-12">

                        <h5 for="titleFile">封面图片(只能存放单张图片） <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                        <input id="carTitleimage" value="{{data[0].carTitleImage}}">
                        <br>
                        <br>    
                         <div class="row" style="height: 400px">
                            <input id="file-Portrait1" type="file">
                        </div>

            </li>

            <li class="col-xs-12 col-md-12">
                <h5 for="titleFile">外观图片,如果修改,请将图片之间逗号去掉,每行一张图片 <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                <textarea rows="5" cols="100" id="carMoreimage">{{data[0].carMoreImage}}</textarea> 
                <br>
                <br>
                <div class="row" style="height: 400px">
                    <input id="file-Portrait2" type="file" multiple>
                </div>
            </li>


            <li class="col-xs-12 col-md-12">
                <h5 for="titleFile">内饰图片,如果修改,请将图片之间逗号去掉,每行一张图片 <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                <textarea rows="5" cols="100" id="carMoreimage2">{{data[0].carMoreImage2}}</textarea> 
                <br>
                <br>
                <div class="row" style="height: 400px">
                   <input id="file-Portrait3" type="file" multiple>
               </div>
            </li>
                </ul>


                <div class="DetailsContext-Title">外观</div>
                <h2 class="Detailscontext-SubTitle">规格配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>车型结构：</label>
                        <input id="carChexingjiegou" value="{{data[0].carChexingjiegou}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>底盘类型：</label>
                        <input id="carDipanleixing" value="{{data[0].carDipanleixing}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4"><label>准驾类型：</label><input id="carZhunjialeixing" value="{{data[0].carZhunjialeixing}}"></input></li>
                    <li class="col-xs-12 col-md-4">
                        <label>座位数：</label>
                        <input id="carZuoweishu" value="{{data[0].carZuoweishu}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车长（mm）：</label>
                        <input id="carChechang" value="{{data[0].carChechang}}"></input>
                    </li>·
                    <li class="col-xs-12 col-md-4">
                        <label>车宽（mm）：</label>
                        <input id="carChekuang" value="{{data[0].carChekuang}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>车高（mm）：</label>
                        <input id="carChegao" value="{{data[0].carChegao}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>轴距（mm）：</label>
                        <input id="carZhouju" value="{{data[0].carZhouju}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>前轮距（mm）：</label>
                        <input id="carQianlunju" value="{{data[0].carQianlunju}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后轮距（mm）：</label>
                        <input id="carHoulunju" value="{{data[0].carHoulunju}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>最小离地间隙（mm）：</label>
                        <input id="carZuixiaolidijianxi" value="{{data[0].carZuixiaolidijianxi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>整备质量（kg）：</label>
                        <input id="carZhengbeizhiliang" value="{{data[0].carZhengbeizhiliang}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最大质量（kg）：</label>
                        <input id="carZuidazhiliang" value="{{data[0].carZuidazhiliang}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4"><label>接近角</label><input id="carJiejinjiao" value="{{data[0].carJiejinjiao}}"></input></li>
                    <li class="col-xs-12 col-md-4"><label>离去角</label><input id="carLiqujiao" value="{{data[0].carLiqujiao}}"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">底盘参数/动力/燃油/驱动</h2>
                <ul class="row list-unstyled">


                    <li class="col-xs-12 col-md-4">
                        <label>前悬挂形式：</label>
                        <input id="carQianxuanguaxingshi" value="{{data[0].carQianxuanguaxingshi}}" ></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后悬挂形式：</label>
                        <input id="carHouxuanguaxingshi" value="{{data[0].carHouxuanguaxingshi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>可变悬挂：</label>
                        <input id="carKebianxuangua" value="{{data[0].carKebianxuangua}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机厂家型号：</label>
                        <input id="carFadongjichangjiaxinghao" value="{{data[0].carFadongjichangjiaxinghao}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>排量：</label>
                        <input id="carPailiang" value="{{data[0].carPailiang}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>进气形式：</label>
                        <input id="carJinqixingshi" value="{{data[0].carJinqixingshi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机功率：</label>
                        <input id="carFadongjigonglv" value="{{data[0].carFadongjigonglv}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机马力：</label>
                        <input id="carFadongjimali" value="{{data[0].carFadongjimali}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机扭矩：</label>
                        <input id="carFadongjiniuju" value="{{data[0].carFadongjiniuju}}"></input>
                    </li>


                    <li class="col-xs-12 col-md-4">
                        <label>档位数：</label>
                        <input id="carDangweishu" value="{{data[0].carDangweishu}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>变速箱：</label>
                        <input id="carBiansuxiang" value="{{data[0].carBiansuxiang}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>驱动方式：</label>
                        <input id="carQudongfangshi" value="{{data[0].carQudongfangshi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>燃油及标号：</label>
                        <input id="carRanyoujibiaohao" value="{{data[0].carRanyoujibiaohao}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>环保标准：</label>
                        <input id="carHuanbaobiaozhun" value="{{data[0].carHuanbaobiaozhun}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>官方油耗(L)：</label>
                        <input id="carGuanfangyouhao" value="{{data[0].carGuanfangyouhao}}"></input>
                    </li>


                    <li class="col-xs-12 col-md-4">
                        <label>油箱容积(L)：(L)：</label>
                        <input id="carYouxiangrongji" value="{{data[0].carYouxiangrongji}}"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">轮胎</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>前轮胎规格：</label>
                        <input id="carQianluntaiguige" value="{{data[0].carQianluntaiguige}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后轮胎规格：</label>
                        <input id="carHouluntaiguige" value="{{data[0].carHouluntaiguige}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>备胎规格：</label>
                        <input id="carBeitaiguige" value="{{data[0].carBeitaiguige}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>铝合金轮毂：</label>
                        <input id="carLvhejinlungu" value="{{data[0].carLvhejinlungu}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>胎压监测系统：</label>
                        <input id="carTaiyajiancexitong" value="{{data[0].carTaiyajiancexitong}}"></input>
                    </li>


                </ul>

                <h2 class="Detailscontext-SubTitle">车外配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>外置厨房：</label>
                        <input id="carWaizhichufang" value="{{data[0].carWaizhichufang}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>外置淋浴：</label>
                        <input id="carWaizhilinyu" value="{{data[0].carWaizhilinyu}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>外置电视：</label>
                        <input id="carWaizhidianshi" value="{{data[0].carWaizhidianshi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>遮阳篷：</label>
                        <input id="carZheyangpeng" value="{{data[0].carZheyangpeng}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>电动踏步：</label>
                        <input id="carDiandongtabu" value="{{data[0].carDiandongtabu}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>室外灯：</label>
                        <input id="carShiwaideng" value="{{data[0].carShiwaideng}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>爬梯：</label>
                        <input id="carPati" value="{{data[0].carPati}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>自行车架：</label>
                        <input id="carZixingchejia" value="{{data[0].carZixingchejia}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>拖车钩：</label>
                        <input id="carTuochegou" value="{{data[0].carTuochegou}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>储物柜：</label>
                        <input id="carChuwugui" value="{{data[0].carChuwugui}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>拓展仓：</label>
                        <input id="carTuozhancang" value="{{data[0].carTuozhancang}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>其他：</label>
                        <input id="carQita" value="{{data[0].carQita}}"></input>
                    </li>


                </ul>

                <div class="DetailsContext-Title">驾驶室</div>

                <h2 class="Detailscontext-SubTitle">方向盘</h2>
                <ul class="row list-unstyled">

                    <li class="col-xs-12 col-md-4">
                        <label>多功能方向盘：</label>
                        <input id="carDuogongnengfangxiangpan" value="{{data[0].carDuogongnengfangxiangpan}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>方向盘调节：</label>
                        <input id="carFangxiangpantiaojie" value="{{data[0].carFangxiangpantiaojie}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>助力转向类型：</label>
                        <input id="carZhulizhuanxiangleixing" value="{{data[0].carZhulizhuanxiangleixing}}"></input>
                    </li>

                </ul>

                <h2 class="Detailscontext-SubTitle">座椅</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>皮质座椅：</label>
                        <input id="carPizhizuoyi" value="{{data[0].carPizhizuoyi}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>织物/皮双拼座椅：</label>
                        <input id="carZhiwupishuangpingzuoyi" value="{{data[0].carZhiwupishuangpingzuoyi}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>驾驶位座椅调节：</label>
                        <input id="carJiashiweizuoyitiaojie" value="{{data[0].carJiashiweizuoyitiaojie}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>副驾驶位座椅调节：</label>
                        <input id="carFujiashiweizuoyitiaojie" value="{{data[0].carFujiashiweizuoyitiaojie}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>第二排座椅调节：</label>
                        <input id="carDierpaizuoyitiaojie" value="{{data[0].carDierpaizuoyitiaojie}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>座椅高低调节：</label>
                        <input id="carZuoyigaoditiaojie" value="{{data[0].carZuoyigaoditiaojie}}"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>座椅通风：</label>
                        <input id="carZuoyitongfeng" value="{{data[0].carZuoyitongfeng}}"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>前排座椅加热：</label>
                        <input id="carQianpaizuoyijiare" value="{{data[0].carQianpaizuoyijiare}}"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">多媒体</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>音箱品牌：</label><input  value="{{data[0].carYinxiangpinpai}}" id="carYinxiangpinpai"></input></li>
                    <li class="col-xs-12 col-md-4"><label>扬声器数量：</label><input  value="{{data[0].carYangshengqishuliang}}" id="carYangshengqishuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载电视：</label><input  value="{{data[0].carChezaidianshi}}" id="carChezaidianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载蓝牙：</label><input  value="{{data[0].carChezailanya}}" id="carChezailanya"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">安全气囊</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>驾驶位安全气囊：</label><input  value="{{data[0].carJiashiweianquanqinang}}" id="carJiashiweianquanqinang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>副驾驶位安全气囊：</label><input  value="{{data[0].carFujiashiweianquanqinang}}" id="carFujiashiweianquanqinang"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">空调</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>空调类型：</label><input  value="{{data[0].carKongtiaoleixing}}" id="carKongtiaoleixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>后排空调出风口：</label><input  value="{{data[0].carHoupaikongtiaochukou}}" id="carHoupaikongtiaochukou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车内空气净化：</label><input  value="{{data[0].carCheneikongqijinhua}}" id="carCheneikongqijinhua"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">安全类配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>倒车雷达：</label><input  value="{{data[0].carDaocheleida}}" id="carDaocheleida"></input></li>
                    <li class="col-xs-12 col-md-4"><label>并线辅助：</label><input  value="{{data[0].carBingxianfuzhu}}" id="carBingxianfuzhu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>自适应巡航：</label><input  value="{{data[0].carZishiyingxunhang}}" id="carZishiyingxunhang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>全景摄像头：</label><input  value="{{data[0].carQuanjingshexiangtou}}" id="carQuanjingshexiangtou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>倒车影像：</label><input  value="{{data[0].carDaocheyingxiang}}" id="carDaocheyingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>GPS导航：</label><input  value="{{data[0].carGPSdaohang}}" id="carGPSdaohang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>定速巡航：</label><input  value="{{data[0].carDingsuxunhang}}" id="carDingsuxunhang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>无钥匙启动：</label><input  value="{{data[0].carWuyaoshiqidong}}" id="carWuyaoshiqidong"></input></li>
                </ul>




                <div class="DetailsContext-Title">生活区</div>

                <h2 class="Detailscontext-SubTitle">会客区</h2>
                <ul class="row list-unstyled">

                    <li class="col-xs-12 col-md-4"><label>沙发座位数：</label><input  value="{{data[0].carShafazuoweishu}}" id="carShafazuoweishu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>行驶可乘坐人数：</label><input  value="{{data[0].carXingshikechengzuorenshu}}" id="carXingshikechengzuorenshu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>沙发材质：</label><input  value="{{data[0].carShafacaizhi}}" id="carShafacaizhi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>沙发床：</label><input  value="{{data[0].carShafazhuo}}" id="carShafazhuo"></input></li>
                    <li class="col-xs-12 col-md-4"><label>升降桌：</label><input  value="{{data[0].carShengjiangzhuo}}" id="carShengjiangzhuo"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">厨房</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>房车专用抽油烟机：</label><input  value="{{data[0].carFangchezhuanyongchouyouyanji}}" id="carFangchezhuanyongchouyouyanji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>房车专用冰箱：</label><input  value="{{data[0].carFangchezhuanyongbingxiang}}" id="carFangchezhuanyongbingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>冰箱容积：</label><input  value="{{data[0].carBingxiangrongji}}" id="carBingxiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>冰箱类型：</label><input  value="{{data[0].carBingxiangleixing}}" id="carBingxiangleixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗菜池：</label><input  value="{{data[0].carXicaichi}}" id="carXicaichi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>水龙头冷热水可调：</label><input  value="{{data[0].carShuilongtoulengreshuiketiao}}" id="carShuilongtoulengreshuiketiao"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电磁炉：</label><input  value="{{data[0].carDiancilu}}" id="carDiancilu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>烤箱：</label><input  value="{{data[0].carKaoxiang}}" id="carKaoxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>微波炉：</label><input  value="{{data[0].carWeibolu}}" id="carWeibolu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗碗机：</label><input  value="{{data[0].carXiwanji}}" id="carXiwanji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气罐数量：</label><input  value="{{data[0].carRanxiguanshuliang}}" id="carRanxiguanshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气罐容积：</label><input  value="{{data[0].carRanxiguanrongji}}" id="carRanxiguanrongji"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">床位</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>单人床数量：</label><input  value="{{data[0].carDanrenchuangshuliang}}" id="carDanrenchuangshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>单人床尺寸：</label><input  value="{{data[0].carDanrenchuangchicun}}" id="carDanrenchuangchicun"></input></li>
                    <li class="col-xs-12 col-md-4"><label>双人床尺寸：</label><input  value="{{data[0].carShuangrenchuangchicun}}" id="carShuangrenchuangchicun"></input></li>
                    <li class="col-xs-12 col-md-4"><label>双人床数量：</label><input  value="{{data[0].carShuangrenchuangshuliang}}" id="carShuangrenchuangshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>总床位数：</label><input  value="{{data[0].carZongchuangweishu}}" id="carZongchuangweishu"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">卫生间</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>卫生间：</label><input  value="{{data[0].carWeishengjian}}" id="carWeishengjian"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫生间形式：</label><input  value="{{data[0].carWeishengjianxingshi}}" id="carWeishengjianxingshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>淋浴器：</label><input  value="{{data[0].carLinyuqi}}" id="carLinyuqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>坐便器：</label><input  value="{{data[0].carZuobianqi}}" id="carZuobianqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫生间洗手池：</label><input  value="{{data[0].carWeishengjianxishouchi}}" id="carWeishengjianxishouchi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>暖风出口：</label><input  value="{{data[0].carNuanfengchukou}}" id="carNuanfengchukou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>换气扇：</label><input  value="{{data[0].carHuanqishan}}" id="carHuanqishan"></input></li>
                    <li class="col-xs-12 col-md-4"><label>热水器：</label><input  value="{{data[0].carReshuiqi}}" id="carReshuiqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>热水器类型：</label><input  value="{{data[0].carReshuiqileixing}}" id="carReshuiqileixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗衣机：</label><input  value="{{data[0].carXiyiji}}" id="carXiyiji"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">供电系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>太阳能电池板：</label><input  value="{{data[0].carTaiyangnengdianchiban}}" id="carTaiyangnengdianchiban"></input></li>
                    <li class="col-xs-12 col-md-4"><label>太阳能电池板发电量：</label><input  value="{{data[0].carTaixiangnengdianchibanfadianliang}}" id="carTaixiangnengdianchibanfadianliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>发电机：</label><input  value="{{data[0].carFadianji}}" id="carFadianji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>发电机类型：</label><input  value="{{data[0].carFadianjileixing}}" id="carFadianjileixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>逆变器：</label><input  value="{{data[0].carNibianqi}}" id="carNibianqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>逆变器功率：</label><input  value="{{data[0].carNibianqigonglv}}" id="carNibianqigonglv"></input></li>
                    <li class="col-xs-12 col-md-4"><label>中央控制面板：</label><input  value="{{data[0].carZhongyangkongzhimianban}}" id="carZhongyangkongzhimianban"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电瓶数量：</label><input  value="{{data[0].carDianpingshuliang}}" id="carDianpingshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电瓶电量：</label><input  value="{{data[0].carDianpingdianliang}}" id="carDianpingdianliang"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">供水系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>房车专用水泵：</label><input  value="{{data[0].carFangchezhuanyongshuibeng}}" id="carFangchezhuanyongshuibeng"></input></li>
                    <li class="col-xs-12 col-md-4"><label>净水箱容积：</label><input  value="{{data[0].carJingshuixiangrongji}}" id="carJingshuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>黑水箱容积：</label><input  value="{{data[0].carHeishuixiangrongji}}" id="carHeishuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>灰水箱容积：</label><input  value="{{data[0].carHuishuixiangrongji}}" id="carHuishuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>排污方式：</label><input  value="{{data[0].carPaiwufangshi}}" id="carPaiwufangshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>饮水净化系统：</label><input  value="{{data[0].carYinshuijinghuaxitong}}" id="carYinshuijinghuaxitong"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">娱乐系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>车载Wifi：</label><input  value="{{data[0].carChezaiWifi}}" id="carChezaiWifi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫星天线：</label><input  value="{{data[0].carWeixingdianshi}}" id="carWeixingdianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载电视：</label><input  value="{{data[0].carChezaidianshi}}" id="carChezaidianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载KTV：</label><input  value="{{data[0].carChezaiKTV}}" id="carChezaiKTV"></input></li>
                    <li class="col-xs-12 col-md-4"><label>DVD机头：</label><input  value="{{data[0].carDVDjitou}}" id="carDVDjitou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载音响：</label><input  value="{{data[0].carChezaiyingxiang}}" id="carChezaiyingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>音响数量：</label><input  value="{{data[0].carYinxiangshuliang}}" id="carYinxiangshuliang"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">温度控制系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>驻车燃油加热系统：</label><input  value="{{data[0].carZhucheranyoujiarexitong}}" id="carZhucheranyoujiarexitong"></input></li>
                    <li class="col-xs-12 col-md-4"><label>房车专用空调：</label><input  value="{{data[0].carFangchezhuanyongkongtiao}}" id="carFangchezhuanyongkongtiao"></input></li>
                    <li class="col-xs-12 col-md-4"><label>空调形式：</label><input  value="{{data[0].carKongtiaoxingshi}}" id="carKongtiaoxingshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气暖风系统：</label><input  value="{{data[0].carRanqinuanfengxitong}}" id="carRanqinuanfengxitong"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">安全系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>烟雾报警器：</label><input  value="{{data[0].carYanwubaojingxi}}" id="carYanwubaojingxi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>煤气报警器：</label><input  value="{{data[0].carMeiqibaojingqi}}" id="carMeiqibaojingqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>一氧化碳报警器：</label><input  value="{{data[0].carYiyanghuatanbaojingqi}}" id="carYiyanghuatanbaojingqi"></input></li>
                </ul>
            </div>
            <button id="saveChange" class="btn btn-primary">保存</button>
        </div>
    </div>




</div>



{% endblock %}