{% extends "base-dashbord.html" %} {% block main %}

<div class="container">
    <nav class="navbar navbar-DetailTab">
        <ul class="nav list-unstyled list-inline">
                <li class="col-xs-6 col-md-3"><a href="/cars-dashbord" class="list-group-item active">车型管理</a></li>
                <li class="col-xs-6 col-md-3"><a href="/cars-add" class="list-group-item">添加车型</a></li>
            </ul>
  </nav>
  <div class="row">

      <div class="col-md-12">
        <div class="page-header">
            <h1>车型管理</h1>
        </div>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="">车型列表</a>
          </li>
        </ul>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>车型</th>
              <th>品牌</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0001</th>
              <td>君威</td>
              <td>别克</td>
              <td>2018-1-1</td>
              <td>
                <div role="presentation" class="dropdown">
                  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="">编辑</a></li>
                    <li><a href="">删除</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="pull-right">
            <ul class="pagination">
              <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 </a></li>
              <li class=""><a href="#">2</a></li>
              <li class=""><a href="#">3</a></li>
              <li class=""><a href="#">4</a></li>
              <li class=""><a href="#">5</a></li>
              <li class=""><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
      </div>
  </div>


</div>

  

{% endblock %}