{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="col-md-12">

            <div class="cars-selection">
              <div class="section-header header1">
                  <div class="box">
                    <h2>按条件选车</h2>
                  </div>
                  <div class="more">
                      <a href="/cars">查看所有车型</a>
                  </div>
              </div>
              <div id="selectBox" class="select-box">
                        <ul class="price">
                          <li>价格：</li>
                          <li class="on" data-attr="all">不限</li>
                          <li data-attr="0-1">10万以下</li>
                          <li data-attr="1-3">10-30万</li>
                          <li data-attr="3-5">30-50万</li>
                          <li data-attr="5-10">50-100万</li>
                          <li data-attr="10-50">100万以上</li>
                        </ul>
                        <ul class="logo">
                          <li>品牌：</li>
                          <li class="on" data-attr="all">不限</li>
                          <li data-attr="1">瑞弗</li>
                          <li data-attr="2">上汽大通</li>
                          <li data-attr="3">凯伦宾威</li>
                          <li data-attr="4">中天</li>
                          <li data-attr="5">华晨</li>
                          <li data-attr="6">齐星</li>
                          <li data-attr="7">览众</li>
                          <li data-attr="8">旌航</li>
                          <li data-attr="9">湖光</li>
                          <li data-attr="10">亚特</li>
                          <li data-attr="11">德兴</li>
                          <li data-attr="12">顺旅</li>
                          <li data-attr="13">极速</li>
                          <li data-attr="14">飞神</li>
                          <li data-attr="15">深圳四驱</li>
                          <li data-attr="16">中汽京福</li>
                          <li data-attr="17">江铃旅居车</li>
                          <li data-attr="18">阿科米房车</li>
                          <li data-attr="19">雅升房车</li>
                          <li data-attr="20">金冠</li>
                          <li data-attr="21">旅友房车</li>
                        </ul>
                        <ul class="dipan">
                            <li>底盘：</li>
                            <li class="on" data-attr="all">不限</li>
                            <li data-attr="1">依维柯</li>
                            <li data-attr="2">大通</li>
                            <li data-attr="3">奔驰</li>
                            <li data-attr="4">福特</li>
                            <li data-attr="5">长城</li>
                            <li data-attr="6">东风御风</li>
                            <li data-attr="7">黄海</li>
                            <li data-attr="8">江淮</li>
                            <li data-attr="9">中兴领主</li>
                            < <li data-attr="10">福田</li> 
                            <li data-attr="11">五十铃</li>
                            <li data-attr="12">金杯</li>
                        </ul> 
                        <ul class="leixing">
                            <li>房车类型：</li>
                            <li class="on" data-attr="all">不限</li>
                            <li data-attr="1">自行式A</li>
                            <li data-attr="2">自行式B</li>
                            <li data-attr="3">自行式C</li>
                            <li data-attr="4">皮卡房车</li>
                            <li data-attr="5">拖挂式</li>
                        </ul> 
                        
 
              </div>
            </div>



            <script src="/static/js/selectBox.js"></script>

            <div class="cars-list">
                <div class="section-header header2 h-default2">
                <div class="box">
                  <h2>选新车</h2>
                  <span class="header-note1" id="styleTotal">共 {{data.length}} 个房车</span>
                </div>
                
              </div>
              <div class="row" id="divContent">
              
                  {% for f in data %}
                <div class="col-xs-6 col-md-3 mb20">
                  <div>
                    <div class="img">
                      <a href="/RvDetails/{{f.carID}}"   target="_blank">
                      <img class="img-responsive" src="{{f.carTitleImage}}" alt="{{f.carTitle1}}"></a>
                    </div>
                    <ul class="p-list list-unstyled">
                      <li class="name">
                        <a href="/RvDetails/{{f.carID}}" target="_blank">{{f.carTitle1}}</a></li>
                      <li class="price">{{f.carPriceMin}}万元</li>
                    </ul>
                  </div>
                  
                </div> 
                {% endfor %}                 
            </div>
            </div>

              
    </div>
</div>
{% endblock %}