{% extends "base-dashbord.html" %} {% block main %}

<div class="container">

    <nav class="navbar navbar-DetailTab">
        <ul class="nav list-unstyled list-inline">
            <li class=" col-xs-6 col-md-3"><a href="/cars-dashbord" class="list-group-item">车型管理</a></li>
            <li class=" col-xs-6 col-md-3"><a href="/cars-add" class="list-group-item active">编辑车型</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>添加车型</h1>
            </div>
            <div class="DetailsContext-Box">
                <div class="DetailsContext-Title">基础信息</div>
                <h2 class="Detailscontext-SubTitle">车辆信息</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>车型ID：</label>
                        <input id="carID"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车型名称：</label>
                        <input id="carTitle1"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车型品牌：</label>
                        <input id="carLogo"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最低参考价格：</label>

                        <input id="carPriceMin"   placeholder="只能输入数字">

                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最高参考价格：</label>
                        <input id="carPriceMax"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">车辆介绍(每一条请以句号结尾，前端可以自动换行）</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-12" style="display:flex">
                        <textarea rows="7" cols="200" id="carTitle2"></textarea>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">车辆图片</h2>

                
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-12">
                        
                                <h5 for="carTitleimage">封面图片(只能存放单张图片） <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                                <div class="row" style="height: 500px">
                                    <input id="file-Portrait1" type="file" multiple>
                                </div>
                                
                                <input id="carTitleimage">

                    </li>

                    <li class="col-xs-12 col-md-12">
                        <h5 for="titleFile">外观图片(支持多张图片） <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                        <textarea rows="5" cols="100" id="carMoreimage"></textarea> 

                    </li>


                    <li class="col-xs-12 col-md-12">
                        <h5 for="titleFile">内饰图片(支持多张图片） <a style="font-weight: bold; color:red;" href="http://sm.ms/" target="_Blank">图床链接,在图床上传后复制链接到输入框中即可</a></h5>
                        <textarea rows="5" cols="100" id="carMoreimage2"></textarea> 
                    </li>
                </ul>


                <div class="DetailsContext-Title">外观</div>
                <h2 class="Detailscontext-SubTitle">规格配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>车型结构：</label>
                        <input id="carChexingjiegou"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>底盘类型：</label>
                        <input id="carDipanleixing"></input>
                    </li>
                    <li class="col-xs-12 col-md-4"><label>准驾类型：</label><input id="carZhunjialeixing"></input></li>
                    <li class="col-xs-12 col-md-4">
                        <label>座位数：</label>
                        <input id="carZuoweishu"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>车长（mm）：</label>
                        <input id="carChechang"></input>
                    </li>·
                    <li class="col-xs-12 col-md-4">
                        <label>车宽（mm）：</label>
                        <input id="carChekuang"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>车高（mm）：</label>
                        <input id="carChegao"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>轴距（mm）：</label>
                        <input id="carZhouju"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>前轮距（mm）：</label>
                        <input id="carQianlunju"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后轮距（mm）：</label>
                        <input id="carHoulunju"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>最小离地间隙（mm）：</label>
                        <input id="carZuixiaolidijianxi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>整备质量（kg）：</label>
                        <input id="carZhengbeizhiliang"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>最大质量（kg）：</label>
                        <input id="carZuidazhiliang"></input>
                    </li>
                    <li class="col-xs-12 col-md-4"><label>接近角</label><input id="carJiejinjiao"></input></li>
                    <li class="col-xs-12 col-md-4"><label>离去角</label><input id="carLiqujiao"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">底盘参数/动力/燃油/驱动</h2>
                <ul class="row list-unstyled">


                    <li class="col-xs-12 col-md-4">
                        <label>前悬挂形式：</label>
                        <input id="carQianxuanguaxingshi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后悬挂形式：</label>
                        <input id="carHouxuanguaxingshi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>可变悬挂：</label>
                        <input id="carKebianxuangua"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机厂家型号：</label>
                        <input id="carFadongjichangjiaxinghao"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>排量：</label>
                        <input id="carPailiang"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>进气形式：</label>
                        <input id="carJinqixingshi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机功率：</label>
                        <input id="carFadongjigonglv"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机马力：</label>
                        <input id="carFadongjimali"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>发动机扭矩：</label>
                        <input id="carFadongjiniuju"></input>
                    </li>


                    <li class="col-xs-12 col-md-4">
                        <label>档位数：</label>
                        <input id="carDangweishu"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>变速箱：</label>
                        <input id="carBiansuxiang"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>驱动方式：</label>
                        <input id="carQudongfangshi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>燃油及标号：</label>
                        <input id="carRanyoujibiaohao"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>环保标准：</label>
                        <input id="carHuanbaobiaozhun"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>官方油耗(L)：</label>
                        <input id="carGuanfangyouhao"></input>
                    </li>


                    <li class="col-xs-12 col-md-4">
                        <label>油箱容积(L)：(L)：</label>
                        <input id="carYouxiangrongji"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">轮胎</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>前轮胎规格：</label>
                        <input id="carQianluntaiguige"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>后轮胎规格：</label>
                        <input id="carHouluntaiguige"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>备胎规格：</label>
                        <input id="carBeitaiguige"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>铝合金轮毂：</label>
                        <input id="carLvhejinlungu"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>胎压监测系统：</label>
                        <input id="carTaiyajiancexitong"></input>
                    </li>


                </ul>

                <h2 class="Detailscontext-SubTitle">车外配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>外置厨房：</label>
                        <input id="carWaizhichufang"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>外置淋浴：</label>
                        <input id="carWaizhilinyu"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>外置电视：</label>
                        <input id="carWaizhidianshi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>遮阳篷：</label>
                        <input id="carZheyangpeng"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>电动踏步：</label>
                        <input id="carDiandongtabu"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>室外灯：</label>
                        <input id="carShiwaideng"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>爬梯：</label>
                        <input id="carPati"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>自行车架：</label>
                        <input id="carZixingchejia"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>拖车钩：</label>
                        <input id="carTuochegou"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>储物柜：</label>
                        <input id="carChuwugui"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>拓展仓：</label>
                        <input id="carTuozhancang"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>其他：</label>
                        <input id="carQita"></input>
                    </li>


                </ul>

                <div class="DetailsContext-Title">驾驶室</div>

                <h2 class="Detailscontext-SubTitle">方向盘</h2>
                <ul class="row list-unstyled">

                    <li class="col-xs-12 col-md-4">
                        <label>多功能方向盘：</label>
                        <input id="carDuogongnengfangxiangpan"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>方向盘调节：</label>
                        <input id="carFangxiangpantiaojie"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>助力转向类型：</label>
                        <input id="carZhulizhuanxiangleixing"></input>
                    </li>

                </ul>

                <h2 class="Detailscontext-SubTitle">座椅</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4">
                        <label>皮质座椅：</label>
                        <input id="carPizhizuoyi"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>织物/皮双拼座椅：</label>
                        <input id="carZhiwupishuangpingzuoyi"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>驾驶位座椅调节：</label>
                        <input id="carJiashiweizuoyitiaojie"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>副驾驶位座椅调节：</label>
                        <input id="carFujiashiweizuoyitiaojie"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>第二排座椅调节：</label>
                        <input id="carDierpaizuoyitiaojie"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>座椅高低调节：</label>
                        <input id="carZuoyigaoditiaojie"></input>
                    </li>

                    <li class="col-xs-12 col-md-4">
                        <label>座椅通风：</label>
                        <input id="carZuoyitongfeng"></input>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <label>前排座椅加热：</label>
                        <input id="carQianpaizuoyijiare"></input>
                    </li>
                </ul>

                <h2 class="Detailscontext-SubTitle">多媒体</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>音箱品牌：</label><input id="carYinxiangpinpai"></input></li>
                    <li class="col-xs-12 col-md-4"><label>扬声器数量：</label><input id="carYangshengqishuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载电视：</label><input id="carChezaidianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载蓝牙：</label><input id="carChezailanya"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">安全气囊</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>驾驶位安全气囊：</label><input id="carJiashiweianquanqinang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>副驾驶位安全气囊：</label><input id="carFujiashiweianquanqinang"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">空调</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>空调类型：</label><input id="carKongtiaoleixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>后排空调出风口：</label><input id="carHoupaikongtiaochukou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车内空气净化：</label><input id="carCheneikongqijinhua"></input></li>
                </ul>

                <h2 class="Detailscontext-SubTitle">安全类配置</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>倒车雷达：</label><input id="carDaocheleida"></input></li>
                    <li class="col-xs-12 col-md-4"><label>并线辅助：</label><input id="carBingxianfuzhu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>自适应巡航：</label><input id="carZishiyingxunhang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>全景摄像头：</label><input id="carQuanjingshexiangtou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>倒车影像：</label><input id="carDaocheyingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>GPS导航：</label><input id="carGPSdaohang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>定速巡航：</label><input id="carDingsuxunhang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>无钥匙启动：</label><input id="carWuyaoshiqidong"></input></li>
                </ul>




                <div class="DetailsContext-Title">生活区</div>

                <h2 class="Detailscontext-SubTitle">会客区</h2>
                <ul class="row list-unstyled">

                    <li class="col-xs-12 col-md-4"><label>沙发座位数：</label><input id="carShafazuoweishu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>行驶可乘坐人数：</label><input id="carXingshikechengzuorenshu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>沙发材质：</label><input id="carShafacaizhi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>沙发床：</label><input id="carShafazhuo"></input></li>
                    <li class="col-xs-12 col-md-4"><label>升降桌：</label><input id="carShengjiangzhuo"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">厨房</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>房车专用抽油烟机：</label><input id="carFangchezhuanyongchouyouyanji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>房车专用冰箱：</label><input id="carFangchezhuanyongbingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>冰箱容积：</label><input id="carBingxiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>冰箱类型：</label><input id="carBingxiangleixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗菜池：</label><input id="carXicaichi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>水龙头冷热水可调：</label><input id="carShuilongtoulengreshuiketiao"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电磁炉：</label><input id="carDiancilu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>烤箱：</label><input id="carKaoxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>微波炉：</label><input id="carWeibolu"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗碗机：</label><input id="carXiwanji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气罐数量：</label><input id="carRanxiguanshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气罐容积：</label><input id="carRanxiguanrongji"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">床位</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>单人床数量：</label><input id="carDanrenchuangshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>单人床尺寸：</label><input id="carDanrenchuangchicun"></input></li>
                    <li class="col-xs-12 col-md-4"><label>双人床尺寸：</label><input id="carShuangrenchuangchicun"></input></li>
                    <li class="col-xs-12 col-md-4"><label>双人床数量：</label><input id="carShuangrenchuangshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>总床位数：</label><input id="carZongchuangweishu"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">卫生间</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>卫生间：</label><input id="carWeishengjian"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫生间形式：</label><input id="carWeishengjianxingshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>淋浴器：</label><input id="carLinyuqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>坐便器：</label><input id="carZuobianqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫生间洗手池：</label><input id="carWeishengjianxishouchi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>暖风出口：</label><input id="carNuanfengchukou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>换气扇：</label><input id="carHuanqishan"></input></li>
                    <li class="col-xs-12 col-md-4"><label>热水器：</label><input id="carReshuiqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>热水器类型：</label><input id="carReshuiqileixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>洗衣机：</label><input id="carXiyiji"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">供电系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>太阳能电池板：</label><input id="carTaiyangnengdianchiban"></input></li>
                    <li class="col-xs-12 col-md-4"><label>太阳能电池板发电量：</label><input id="carTaixiangnengdianchibanfadianliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>发电机：</label><input id="carFadianji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>发电机类型：</label><input id="carFadianjileixing"></input></li>
                    <li class="col-xs-12 col-md-4"><label>逆变器：</label><input id="carNibianqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>逆变器功率：</label><input id="carNibianqigonglv"></input></li>
                    <li class="col-xs-12 col-md-4"><label>中央控制面板：</label><input id="carZhongyangkongzhimianban"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电瓶数量：</label><input id="carDianpingshuliang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>电瓶电量：</label><input id="carDianpingdianliang"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">供水系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>房车专用水泵：</label><input id="carFangchezhuanyongshuibeng"></input></li>
                    <li class="col-xs-12 col-md-4"><label>净水箱容积：</label><input id="carJingshuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>黑水箱容积：</label><input id="carHeishuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>灰水箱容积：</label><input id="carHuishuixiangrongji"></input></li>
                    <li class="col-xs-12 col-md-4"><label>排污方式：</label><input id="carPaiwufangshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>饮水净化系统：</label><input id="carYinshuijinghuaxitong"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">娱乐系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>车载Wifi：</label><input id="carChezaiWifi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>卫星天线：</label><input id="carWeixingdianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载电视：</label><input id="carChezaidianshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载KTV：</label><input id="carChezaiKTV"></input></li>
                    <li class="col-xs-12 col-md-4"><label>DVD机头：</label><input id="carDVDjitou"></input></li>
                    <li class="col-xs-12 col-md-4"><label>车载音响：</label><input id="carChezaiyingxiang"></input></li>
                    <li class="col-xs-12 col-md-4"><label>音响数量：</label><input id="carYinxiangshuliang"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">温度控制系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>驻车燃油加热系统：</label><input id="carZhucheranyoujiarexitong"></input></li>
                    <li class="col-xs-12 col-md-4"><label>房车专用空调：</label><input id="carFangchezhuanyongkongtiao"></input></li>
                    <li class="col-xs-12 col-md-4"><label>空调形式：</label><input id="carKongtiaoxingshi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>燃气暖风系统：</label><input id="carRanqinuanfengxitong"></input></li>
                </ul>
                <h2 class="Detailscontext-SubTitle">安全系统</h2>
                <ul class="row list-unstyled">
                    <li class="col-xs-12 col-md-4"><label>烟雾报警器：</label><input id="carYanwubaojingxi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>煤气报警器：</label><input id="carMeiqibaojingqi"></input></li>
                    <li class="col-xs-12 col-md-4"><label>一氧化碳报警器：</label><input id="carYiyanghuatanbaojingqi"></input></li>
                </ul>
            </div>
            <button id="save" class="btn btn-primary">提交</button>
        </div>
    </div>




</div>



{% endblock %}