{% extends "base.html" %} {% block main %}


<br>
<br>

<div class="row">

    <section id="contact" class="col-md-10 col-md-offset-1">
            <div class="lvjing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>
                                <span class="glyphicon glyphicon-send"></span>
                                &nbsp
                                联系我们
                            </h2>
                            <p>请留下您的联系方式吗，我们会安排专人尽快与您联系，您也可以添加微信：13436780368咨询房车事宜。</p>
                            <address>
                                <p><span class="glyphicon glyphicon-home"></span>&nbsp地址：北京市房山区天星院1号</p>
                                <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp联系电话：13436780368</p>
                                <p><span class="glyphicon glyphicon-envelope"></span>&nbsp邮箱：2629135340@qq.com</p>
                            </address>
                        </div>
                        <div class="col-md-5">
                            <form action="/tellUs" method="POST" target="frame1">
                                <div class="col-md-12">
                                    <input name="userName" type="text" class="form-control" placeholder="您的姓名" />
                                </div>
                                <div class="col-md-12">
                                    <input name="connection" type="text" class="form-control" placeholder="您的联系方式" />
                                </div>
                                <div class="col-md-12">
                                        <input name="targetCar" type="text" class="form-control" placeholder="您的意向车型" />
                                    </div>

                                <div class="col-md-8">
                                    <button class="form-control"  id="TellUS">提交</button>
                                </div>
                            </form>
                            <!--模态框-->
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                提交成功
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>                      
            </div>             
        </section>
</div>


</div>


{% endblock %}