{% extends "base-dashbord.html" %} {% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">网站统计数据</h3>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>统计项目</th>
              <th>总计</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">访问量
                </td>
                <td>{{totalhit}}</td>
            </tr>
            <tr>
              <th scope="row">用户留言
                </td>
                <td>{{totalMessage}}</td>
            </tr>
            <tr>
              <th scope="row">车型库
                </td>
                <td>{{totalCars}}</td>
            </tr>
            <tr>
              <th scope="row">文章总数
                </td>
                <td>{{totalArticles}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">网站文章</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <a href=""><span class="glyphicon glyphicon-comment"></span>&nbsp;文章测试1 <small class="pull-right">2019-01-02</small></a>
          </li>
          <li class="list-group-item">
            <a href=""><span class="glyphicon glyphicon-comment"></span>&nbsp;文章测试1 <small class="pull-right">2019-01-02</small></a>
          </li>
          <li class="list-group-item">
            <a href=""><span class="glyphicon glyphicon-comment"></span>&nbsp;文章测试1 <small class="pull-right">2019-01-02</small></a>
          </li>
          <li class="list-group-item">
            <a href=""><span class="glyphicon glyphicon-comment"></span>&nbsp;文章测试1 <small class="pull-right">2019-01-02</small></a>
          </li>
          <li class="list-group-item">
            <a href=""><span class="glyphicon glyphicon-comment"></span>&nbsp;文章测试1 <small class="pull-right">2019-01-02</small></a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">今日访客统计</h3>
            </div>
            <div class="panel-body">
              <canvas id="myChart" class="col-md-12"></canvas>
            </div>
            
          </div>  
    </div>
    <div class="col-md-6">
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">服务器状态</h3>
              </div>
              <div class="panel-body">
                <p>内存使用率：40%</p>
                  <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <p>数据库使用率：20%</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                    <p>磁盘使用率：20%</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                    <p>CPU使用率：80*</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
              </div>
              
            </div>  
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">用户留言统计</h3>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>联系方式</th>
                  <th>意向车型</th>
                  <th>留咨时间</th>
                </tr>
              </thead>
              
  
              <tbody>
                  {% for f in data %}
                <tr>
                  <td scope="row">{{f.userName}}</td>
                  <td>{{f.connection}}</td>
                  <td>{{f.targetCar}}</td>
                  <td>{{f.createdAt}}</td>
                </tr> 
                {% endfor %}
                
              </tbody>
            </table>

            <nav aria-label="Page navigation"  class="pull-right">
                <ul class="pagination">

                  <li><a href="/dashbord/1">1</a></li>
                  <li><a href="/dashbord/2">2</a></li>
                  <li><a href="/dashbord/3">3</a></li>
                  <li><a href="/dashbord/4">4</a></li>
                  <li><a href="/dashbord/5">5</a></li>
                  <li><a href="/dashbord/6">6</a></li>
                  <li><a href="/dashbord/7">7</a></li>
                  <li><a href="/dashbord/8">8</a></li>
                  <li><a href="/dashbord/9">9</a></li>
                  <li><a href="/dashbord/10">10</a></li>

                </ul>
              </nav>
          </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">试驾预约</h3>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>联系方式</th>
                  <th>意向车型</th>
                  <th>使用人数</th>
                  <th>购车预算</th>
                  <th>预约提交时间</th>
                </tr>
              </thead>
              
  
              <tbody>
                  {% for f in testDrive %}
                <tr>
                  <td scope="row">{{f.testDriveName}}</td>
                  <td>{{f.testDriveConnection}}</td>
                  <td>{{f.testDriveCar}}</td>
                  <td>{{f.testDriveProple}}</td>
                  <td>{{f.testDriveMoney}}</td>
                  <td>{{f.createdAt}}</td>
                </tr> 
                {% endfor %}
                
              </tbody>
            </table>

            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li id="page1"><a href="/dashbord/1">1</a></li>
                    <li id="page2"><a href="/dashbord/2">2</a></li>
                    <li id="page3"><a href="/dashbord/3">3</a></li>
                    <li id="page4"><a href="/dashbord/4">4</a></li>
                    <li id="page5"><a href="/dashbord/5">5</a></li>
                    <li id="page6"><a href="/dashbord/6">6</a></li>
                    <li id="page7"><a href="/dashbord/7">7</a></li>
                    <li id="page8"><a href="/dashbord/8">8</a></li>
                    <li id="page9"><a href="/dashbord/9">9</a></li>
                    <li id="page10"><a href="/dashbord/10">10</a></li>
                </ul>
              </nav>
      
         
    </div>
  </div>
</div>


{% endblock %}