{% extends "base.html" %} {% block main %}

<div class="col-md-10 col-md-offset-1" style="padding:0px; margin-bottom: 10px;">
        <a href="/e/public/ClickAd?adid=34" target="_blank"><img class="img-responsive" src="http://img.rv58.com/w/2018/11/qcb/1200.jpg"  alt="北京房车展"></a> 
    </div>

<div id="Banner" class="Banner-Div col-md-10 col-md-offset-1" style="color:#cdbfe3; background-color:mediumslateblue;  padding:30px 0; margin-bottom: 10px">
    <h1 style="padding: 0px 0px 0px 10%; color:#fff; font-size:60px">{{title}}</h1>
    <p style="padding:0px 0px 0px 10%; font-size:24px; line-height:48px">{{subtitle}}</p>
</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-7 col-md-offset-1">   
            <div id="chexingPanel" class="panel panel-default">
                <!-- <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> 车型库 &nbsp;&nbsp; 广告位：显示推荐车型</h3>
                </div> -->
                <div class="panel-body" style="padding-top:0px;">
                    <!-- 图标导航-->
                    <div class="i_con2 hidden-xs">
                        <div class="chexinglist">
                            <ul class="list-unstyled list-inline">
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/za.png"><span>自行式A</span></a> </li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/zb.png"> <span>自行式B</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/zc.png"> <span>自行式C</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/td.png"><span>皮卡房车</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/ta.png"><span>拖挂式A</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/tb.png"> <span>拖挂式B</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/tc.png"> <span>拖挂式C</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/ydt.png"><span>营地拖挂</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/yy.png"><span>越野房车</span></a></li>
                                <li><a href=""><img class="img-responsive" src="http://img.rv58.com/w/rv/yd.png"><span>移动木屋</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="chexing-nav">
                        <nav class="navbar navbar-chexing">
            
                            <div class="navbar-header">
                                <!-- 小屏幕导航按钮和logo -->
                                <button class="navbar-toggle" role="button" data-toggle="collapse" href="#chexingTab" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/" class="navbar-brand">选车导航</a>
                                
                            </div>
            
                            <!-- 顶部导航项目 -->
                            <div id="chexingTab" class="navbar-collapse collapse navbar-chexing">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#bytype" data-toggle="tab">按车型</a></li>
                                    <li><a href="#byprice" data-toggle="tab">按价格</a></li>
                                    <li><a href="#bylogo" data-toggle="tab">按品牌</a></li>
                                    <li><a href="#by1-3" data-toggle="tab">10-30万</a></li>
                                    <li><a href="#by3-5" data-toggle="tab">30-50万</a></li>
                                    <li><a href="#by5-10" data-toggle="tab">50-100万</a></li>
                                </ul>
                            </div>
            
                            <!-- 导航栏正文 -->
                            <div id="chexingTabContent" class="tab-content chexing-tab-content">
                                <div class="tab-pane fade in active" id="bytype">
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">自行式B型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星自在系</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">雅升大通豪</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">雅升大通旗</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">红日尊尚</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">顺旅大通乐</a></div>
                                    </div>
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">自行式C型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">拓锐斯特大</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戴德隆翠哆</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星罗马假</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天NEWDAL</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风单</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">拖挂式A型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">春田泰悦拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">杰克 云雀</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">海姆诺瓦</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">科诺斯500Q</a></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="byprice">
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">10-30万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">嵘野8米单拓</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">耐克萨斯星</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">梦之旅牛刀</a></div>
                                    </div>
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">30-50万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">拓锐斯特大</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戴德隆翠哆</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">海驰房车C2</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">梦之旅牛二</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星自在系</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">50-100万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">览众赛拉维</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天新驭风</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风双</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风单</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天NEWDAL</a></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="bylogo">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A href=""><img src="http://img.rv58.com/w/qiyelogo/junan.jpg" alt="钧安房车">
                                                <br>
                                                <span>钧安</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/rongye.jpg"
                                                    alt="嵘野房车">
                                                <br><span>嵘野</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/hongtai120.jpg"
                                                    calt="宏泰房车">
                                                <br><span>宏泰</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/jiangling120.jpg"
                                                    alt="江铃旅居车">
                                                <br><span>江铃</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/gsd120.jpg"
                                                    alt="戈士达房车">
                                                <br><span>戈士达</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/jinghang.jpg"
                                                    alt="旌航房车">
                                                <br><span>旌航</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/caravelair.jpg"
                                                    alt="卡莱尔房车">
                                                <br><span>卡莱尔</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/xinxinglogo.jpg"
                                                    alt="新星房车">
                                                <br><span>新星</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/mengzhilvlogo.jpg"
                                                    alt="梦之旅房车">
                                                <br><span>梦之旅</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href=""><img src="http://img.rv58.com/w/qiyelogo/lanzhonglogo.jpg"
                                                    alt="览众房车">
                                                <br><span>览众</span>
                                            </A>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="by1-3">
                                    <div class="row chexing-row">
                                        <div class=" col-xs-4 col-md-3">
                                            <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                            <span class="zt3a">
                                                <a href="">参数</a>
                                                <a href="">图片</a>
                                                <a href="">商家</a> 
                                            </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">嵘野8米复式营地版</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>     
                                    </div>

                                    <div class="row chexing-row">
                                            <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">嵘野8米复式营地版</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>     
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="by3-5">
                                        <div class="row chexing-row">
                                                <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米复式营地版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>     
                                            </div>
        
                                            <div class="row chexing-row">
                                                    <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米复式营地版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>     
                                            </div>
                                </div>
                                <div class="tab-pane fade" id="by5-10">
                                        <div class="row chexing-row">
                                                <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米复式营地版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>     
                                            </div>
        
                                            <div class="row chexing-row">
                                                    <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米复式营地版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>     
                                            </div>
                                </div>
                            </div>
                        </nav>
                        <script>
                                $(function () {
                                    $('#chexingTab li:eq(0) a').tab('show');
                                });
                        </script>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">

                        <div id="myCarousel" class="carousel slide ad-carousel">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>   
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="img-responsive" src="/static/img/ADS/RVForOld.jpeg" alt="First slide">
                                        <div class="carousel-caption">RV To Old
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/img/ADS/RVForLove.jpeg" alt="Second slide">
                                        <div class="carousel-caption">RV For Love</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/img/ADS/RVToSea.jpeg" alt="Third slide">
                                        <div class="carousel-caption">RV To Sea</div>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
        </div>
    </div>


        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-warning ">
                <div class="panel-heading">
                    <h2 class="h2-context">最新情报</h2>
                </div>
                <div >
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-danger ">
                <div class="panel-heading">
                    <h2 class="h2-context">焦点关注</h2>
                </div>
                <div>
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="row">

                <section id="contact" class="col-md-10 col-md-offset-1">
                        <div class="lvjing">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h2>
                                            <span class="glyphicon glyphicon-send"></span>
                                            &nbsp
                                            联系我们
                                        </h2>
                                        <p>请留下您的联系方式吗，我们会安排专人尽快与您联系，您也可以直接拨打电话：13436780368（微信同步）咨询房车事宜。</p>
                                        <address>
                                            <p><span class="glyphicon glyphicon-home"></span>&nbsp地址：北京市房山区天星院1号</p>
                                            <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp联系电话：010-61351861</p>
                                            <p><span class="glyphicon glyphicon-envelope"></span>&nbsp邮箱：2629135340@qq.com</p>
                                        </address>
                                    </div>
                                    <div class="col-md-5">
                                        <form action="/tellUs" method="POST" target="frame1">
                                            <div class="col-md-12">
                                                <input name="userName" type="text" class="form-control" placeholder="您的姓名" />
                                            </div>
                                            <div class="col-md-12">
                                                <input name="connection" type="text" class="form-control" placeholder="您的联系方式" />
                                            </div>
                                            <div class="col-md-12">
                                                    <input name="targetCar" type="text" class="form-control" placeholder="您的意向车型" />
                                                </div>

                                            <div class="col-md-8">
                                                <input type="submit" class="form-control" value="提交" data-toggle="modal" data-target="#myModal">
                                            </div>
                                        </form>
                                        <!--模态框-->
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            提交成功
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>                      
                        </div>             
                    </section>
        </div>
</div>
<script>
        function savePeople() { 
            // jquery 表单提交 
            $("#showDataForm").ajaxSubmit(function(message) { 
            // 对于表单提交成功后处理，message为提交页面saveReport.htm的返回内容 
            });
            return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转 
            } 
</script>
{% endblock %}