{% extends "base.html" %} {% block main %}




<div class="container-fluid">

        <div id="Banner" class="Banner-Div col-md-10 col-md-offset-1" style="color:#cdbfe3;  padding:0 0; margin-bottom: 10px">
            <a href="">
                <img src="/static/img/ADS/sjrz.png" alt="" class="img-responsive">
            </a>
            </div>

            <div id="Banner2" class="Banner-Div col-md-10 col-md-offset-1" style="color:#cdbfe3; ;  padding:0 0; margin-bottom: 10px">
                    <a href="">    
                            <img src="/static/img/ADS/Banner2.jpeg" alt="" class="img-responsive">
                    </a>
                    </div>

    
    <div class="row">
        <div class="col-md-7 col-md-offset-1">   
            <div id="chexingPanel" class="panel panel-default">
                <!-- <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> 车型库 &nbsp;&nbsp; 广告位：显示推荐车型</h3>
                </div> -->
                <div class="panel-body" style="padding-top:0px;">
                    <!-- 图标导航-->

                            <div class="i_con2 hidden-xs">
                                    <div class="chexinglist">
                                        <ul class="list-unstyled list-inline">
                                            <li><a href="/cars/price=all/logo=all/dipan=all/leixing=1"><img class="img-responsive" src="http://img.rv58.com/w/rv/za.png"><span>自行式A</span></a> </li>
                                            <li><a href="/cars/price=all/logo=all/dipan=all/leixing=2"><img class="img-responsive" src="http://img.rv58.com/w/rv/zb.png"> <span>自行式B</span></a></li>
                                            <li><a href="/cars/price=all/logo=all/dipan=all/leixing=3"><img class="img-responsive" src="http://img.rv58.com/w/rv/zc.png"> <span>自行式C</span></a></li>
                                            <li><a href="/cars/price=all/logo=all/dipan=all/leixing=4"><img class="img-responsive" src="http://img.rv58.com/w/rv/td.png"><span>皮卡房车</span></a></li>
                                            <li><a href="/cars/price=all/logo=all/dipan=all/leixing=5"><img class="img-responsive" src="http://img.rv58.com/w/rv/ta.png"><span>拖挂式</span></a></li>
                                        </ul>
                                    </div>
                                </div>



                    <div class="chexing-nav">
                        <nav class="navbar navbar-chexing">
            
                            <div class="navbar-header">
                                <!-- 小屏幕导航按钮和logo -->
                                <button class="navbar-toggle" role="button" data-toggle="collapse" href="#chexingTab" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/" class="navbar-brand">选车导航</a>
                                
                            </div>
            
                            <!-- 顶部导航项目 -->
                            <div id="chexingTab" class="navbar-collapse collapse navbar-chexing">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#bytype" data-toggle="tab">按车型</a></li>
                                    <li><a href="#byprice" data-toggle="tab">按价格</a></li>
                                    <li><a href="#bylogo" data-toggle="tab">按品牌</a></li>
                                    <li><a href="#by1-3" data-toggle="tab">10-30万</a></li>
                                    <li><a href="#by3-5" data-toggle="tab">30-50万</a></li>
                                    <li><a href="#by5-10" data-toggle="tab">50-100万</a></li>
                                </ul>
                            </div>
            
                            <!-- 导航栏正文 -->
                            <div id="chexingTabContent" class="tab-content chexing-tab-content">
                                <div class="tab-pane fade in active" id="bytype">
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">自行式B型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星自在系</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">雅升大通豪</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">雅升大通旗</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">红日尊尚</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">顺旅大通乐</a></div>
                                    </div>
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">自行式C型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">拓锐斯特大</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戴德隆翠哆</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星罗马假</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天NEWDAL</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风单</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">拖挂式A型:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">春田泰悦拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">杰克 云雀</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">海姆诺瓦</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">科诺斯500Q</a></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="byprice">
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">10-30万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">嵘野8米单拓</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戈士达460拖</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">耐克萨斯星</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">梦之旅牛刀</a></div>
                                    </div>
                                    <div class="row chexing-row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">30-50万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">拓锐斯特大</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">戴德隆翠哆</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">海驰房车C2</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">梦之旅牛二</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">新星自在系</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2"> <a class="chexing-a" href="">50-100万:</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">览众赛拉维</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天新驭风</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风双</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天季风单</a></div>
                                        <div class="col-xs-4 col-md-2"> <a href="">中天NEWDAL</a></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="bylogo">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A href="/cars/price=all/logo=1/dipan=all/leixing=all"><img src="/static/img/logo/ruifu.jpeg" alt="瑞弗">
                                                <br>
                                                <span>瑞弗</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                                <A class="pinpaiimg" href="/cars/price=all/logo=2/dipan=all/leixing=all"><img src="/static/img/logo/shangqidatong.jpg"
                                                        alt="上汽大通">
                                                    <br><span>上汽大通</span>
                                                </A>
                                            </div>

                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=3/dipan=all/leixing=all"><img src="/static/img/logo/kailunbinwei.jpg"
                                                    alt="凯伦宾威">
                                                <br><span>凯伦宾威</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=4/dipan=all/leixing=all"><img src="/static/img/logo/zhongtian.jpeg"
                                                    calt="中天">
                                                <br><span>中天</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=5/dipan=all/leixing=all"><img src="/static/img/logo/huachen.jpg"
                                                    alt="华晨">
                                                <br><span>华晨</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=6/dipan=all/leixing=all"><img src="/static/img/logo/qixing.jpg"
                                                    alt="齐星">
                                                <br><span>齐星</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=7/dipan=all/leixing=all"><img src="/static/img/logo/lanzhong.jpg"
                                                    alt="览众">
                                                <br><span>览众</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=8/dipan=all/leixing=all"><img src="/static/img/logo/jinghang.jpg"
                                                    alt="旌航">
                                                <br><span>旌航</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=9/dipan=all/leixing=all"><img src="/static/img/logo/huguang.jpg"
                                                    alt="湖光">
                                                <br><span>湖光</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=10/dipan=all/leixing=all"><img src="/static/img/logo/yate.jpg"
                                                    alt="亚特">
                                                <br><span>亚特</span></A></div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                            <A class="pinpaiimg" href="/cars/price=all/logo=11/dipan=all/leixing=all"><img src="/static/img/logo/dexing.png"
                                                    alt="德兴">
                                                <br><span>德兴</span>
                                            </A>
                                        </div>
                                        <div class="col-xs-4 col-md-2 chexing-logo">
                                                <A class="pinpaiimg" href="/cars/price=all/logo=12/dipan=all/leixing=all"><img src="/static/img/logo/shunlv.jpg"
                                                        alt="顺旅">
                                                    <br><span>顺旅</span>
                                                </A>
                                            </div>
                                            <div class="col-xs-4 col-md-2 chexing-logo">
                                                    <A class="pinpaiimg" href="/cars/price=all/logo=13/dipan=all/leixing=all"><img src="/static/img/logo/jisu.jpg"
                                                            alt="极速">
                                                        <br><span>极速</span>
                                                    </A>
                                                </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="by1-3">
                                    <div class="row chexing-row">
                                        <div class=" col-xs-4 col-md-3">
                                            <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                            <span class="zt3a">
                                                <a href="">参数</a>
                                                <a href="">图片</a>
                                                <a href="">商家</a> 
                                            </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>

                                        <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">嵘野8米复式营地版</a> 
                                                <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                        </div>     
                                    </div>

                                    <div class="row chexing-row">
                                            <div class=" col-xs-4 col-md-3">
                                                <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                <span class="zt3a">
                                                    <a href="">参数</a>
                                                    <a href="">图片</a>
                                                    <a href="">商家</a> 
                                                </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>
    
                                            <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">嵘野8米复式营地版</a> 
                                                    <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                            </div>     
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="by3-5">
                                        <div class="row chexing-row">
                                                <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米复式营地版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>     
                                            </div>
        
                                            <div class="row chexing-row">
                                                    <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米复式营地版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>     
                                            </div>
                                </div>
                                <div class="tab-pane fade" id="by5-10">
                                        <div class="row chexing-row">
                                                <div class=" col-xs-4 col-md-3">
                                                    <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                    <span class="zt3a">
                                                        <a href="">参数</a>
                                                        <a href="">图片</a>
                                                        <a href="">商家</a> 
                                                    </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>
        
                                                <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">嵘野8米复式营地版</a> 
                                                        <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                </div>     
                                            </div>
        
                                            <div class="row chexing-row">
                                                    <div class=" col-xs-4 col-md-3">
                                                        <a class="a1" href="">卫航特顺旅居车</a> <br/>
                                                        <span class="zt3a">
                                                            <a href="">参数</a>
                                                            <a href="">图片</a>
                                                            <a href="">商家</a> 
                                                        </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">卫航大通短轴旅居车</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米单拓双卧双卫版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>
            
                                                    <div class=" col-xs-4 col-md-3">
                                                            <a class="a1" href="">嵘野8米复式营地版</a> 
                                                            <br/>
                                                            <span class="zt3a">
                                                                <a href="">参数</a>
                                                                <a href="">图片</a>
                                                                <a href="">商家</a> 
                                                            </span>
                                                    </div>     
                                            </div>
                                </div>
                            </div>
                        </nav>
                        <script>
                                $(function () {
                                    $('#chexingTab li:eq(0) a').tab('show');
                                });
                        </script>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
                <div class="row brand-logo">
                        <ul class="list-unstyled">
                                <li class="col-md-4 col-xs-4">
                                    <a href="/cars/price=all/logo=1/dipan=all/leixing=all" target="_blank">
                                        <img src="/static/img/logo/ruifu.jpeg">
                                        <p>瑞弗</p>
                                    </a>
                                </li>
                                <li class=" col-md-4 col-xs-4">
                                    <a href="/cars/price=all/logo=2/dipan=all/leixing=all" target="_blank">
                                        <img src="/static/img/logo/shangqidatong.jpg">
                                        <p>上汽大通</p>
                                    </a>
                                </li>
                                <li class=" col-md-4 col-xs-4">
                                    <a href="/cars/price=all/logo=3/dipan=all/leixing=all" target="_blank">
                                        <img src="/static/img/logo/kailunbinwei.jpg">
                                        <p>凯伦宾威</p>
                                    </a>
                                </li>
                        </ul>
                </div>
                <div class="row brand-logo">
                        <ul class="list-unstyled">
                                <li class="col-md-4 col-xs-4">
                                        <a href="/cars/price=all/logo=4/dipan=all/leixing=all" target="_blank">
                                            <img src="/static/img/logo/zhongtian.jpeg">
                                            <p>中天</p>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-xs-4">
                                        <a href="/cars/price=all/logo=5/dipan=all/leixing=all" target="_blank">
                                            <img src="/static/img/logo/huachen.jpg">
                                            <p>华晨</p>
                                        </a>
                                    </li>
                                    <li class=" col-md-4 col-xs-4">
                                        <a href="/cars/price=all/logo=6/dipan=all/leixing=all" target="_blank">
                                            <img src="/static/img/logo/qixing.jpg">
                                            <p>齐星</p>
                                        </a>
                                    </li>
                        </ul>
                </div>
                <div class="row brand-logo">
                        <ul class="list-unstyled">
                                <li class="col-md-4 col-xs-4">
                                        <a href="/cars/price=all/logo=7/dipan=all/leixing=all" target="_blank">
                                            <img src="/static/img/logo/lanzhong.jpg">
                                            <p>览众</p>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-xs-4">
                                        <a href="/cars/price=all/logo=8/dipan=all/leixing=all" target="_blank">
                                            <img src="/static/img/logo/jinghang.jpg">
                                            <p>旌航</p>
                                        </a>
                                    </li>
                                    <li class=" col-md-4 col-xs-4">
                                        <a href="/cars" target="_blank">
                                            <div class="img">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </div>
                                            <p>房车大全</p>
                                        </a>
                                    </li>
                        </ul>
                </div>
        </div>
    </div>



        <div class="row">
            <div class="col-md-7 col-md-offset-1">

                        <div id="myCarousel" class="carousel slide ad-carousel">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>   
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="img-responsive" src="/static/img/ADS/RVForOld.jpeg" alt="First slide">
                                        <div class="carousel-caption">RV To Old
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/img/ADS/RVForLove.jpeg" alt="Second slide">
                                        <div class="carousel-caption">RV For Love</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/img/ADS/RVToSea.jpeg" alt="Third slide">
                                        <div class="carousel-caption">RV To Sea</div>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
            </div>
        
                
            <div class="col-md-3">
                <div class="panel panel-warning ">
                <div class="panel-heading">
                    <h2 class="h2-context">最新情报</h2>
                </div>
                <div >
                    <div class="list-group">
                        <a href="" class="row list-group-item">
                            <div class="">

                            </div>
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-danger ">
                <div class="panel-heading">
                    <h2 class="h2-context">游记</h2>
                </div>
                <div>
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-md-5 carVideo">
                <div class="col-md-6">
                        <a href="http://www.rv28.com/a/article-16635-1.html">
                            <img src="/static/data/attachment/1.jpg" class="img-responsive" alt="10万级热门拖挂房车介绍，四款拖挂房车推荐">
                            <span>10万级热门拖挂房车介绍，四款拖挂房车</span>
                            </a>
                </div>

                <div class="col-md-6">
                        <a href="http://www.rv28.com/a/article-16635-1.html">
                            <img src="/static/data/attachment/1.jpg" class="img-responsive" alt="10万级热门拖挂房车介绍，四款拖挂房车推荐">
                            <span>10万级热门拖挂房车介绍，四款拖挂房车</span>
                            </a>
                </div>
                <div class="col-md-6">
                        <a href="http://www.rv28.com/a/article-16635-1.html">
                            <img src="/static/data/attachment/1.jpg" class="img-responsive" alt="10万级热门拖挂房车介绍，四款拖挂房车推荐">
                            <span>10万级热门拖挂房车介绍，四款拖挂房车</span>
                            </a>
                </div>
                <div class="col-md-6">
                        <a href="http://www.rv28.com/a/article-16635-1.html">
                            <img src="/static/data/attachment/1.jpg" class="img-responsive" alt="10万级热门拖挂房车介绍，四款拖挂房车推荐">
                            <span>10万级热门拖挂房车介绍，四款拖挂房车</span>
                            </a>
                </div>

            </div>
        </div>

        <div class="row">

                <section id="contact" class="col-md-10 col-md-offset-1">
                        <div class="lvjing">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h2>
                                            <span class="glyphicon glyphicon-send"></span>
                                            &nbsp
                                            联系我们
                                        </h2>
                                        <p>请留下您的联系方式吗，我们会安排专人尽快与您联系，您也可以添加微信：13436780368咨询房车事宜。</p>
                                        <address>
                                            <p><span class="glyphicon glyphicon-home"></span>&nbsp地址：北京市房山区天星院1号</p>
                                            <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp联系电话：13436780368</p>
                                            <p><span class="glyphicon glyphicon-envelope"></span>&nbsp邮箱：2629135340@qq.com</p>
                                        </address>
                                    </div>
                                    <div class="col-md-5">
                                        <form action="/tellUs" method="POST" target="frame1">
                                            <div class="col-md-12">
                                                <input name="userName" type="text" class="form-control" placeholder="您的姓名" />
                                            </div>
                                            <div class="col-md-12">
                                                <input name="connection" type="text" class="form-control" placeholder="您的联系方式" />
                                            </div>
                                            <div class="col-md-12">
                                                    <input name="targetCar" type="text" class="form-control" placeholder="您的意向车型" />
                                                </div>

                                            <div class="col-md-8">
                                                <input type="submit" class="form-control" value="提交" data-toggle="modal" data-target="#myModal">
                                            </div>
                                        </form>
                                        <!--模态框-->
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            提交成功
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>                      
                        </div>             
                    </section>
        </div>
</div>

<script>
        function savePeople() { 
            // jquery 表单提交 
            $("#showDataForm").ajaxSubmit(function(message) { 
            // 对于表单提交成功后处理，message为提交页面saveReport.htm的返回内容 
            });
            return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转 
            } 
</script>
{% endblock %}