{% extends "base.html" %} {% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="DetailTab" class="row navbar-collapse collapse navbar-DetailTab">
                <ul class="nav list-unstyled list-inline">
                    <li class="active col-xs-6 col-md-3"><a href="#DetailsShow" data-toggle="tab">车型展示</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#DetailsContext" data-toggle="tab">车型配置</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#DetailsVideo" data-toggle="tab">文章/视频</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#DetailsContact" data-toggle="tab">我要购车</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tab-content col-md-10 col-md-offset-1">
            <div id="DetailsShow" class="tab-pane fade in active  Detail-show">
                <div class="row Detail-biaoti">
                    <div class="col-md-5">
                        <img src="{{data[0].carTitleImage}}" class="img-responsive">
                    </div>
                    <div class="caption col-md-7">
                        <h1 class="Detail-biaoti1">{{data[0].carTitle1}}</h1>
                        <h3>房车品牌：{{data[0].carLogo}}&nbsp;&nbsp;&nbsp; 参考价格：{{data[0].carPriceMin}}</h3>
                        <p id=text_desc_p class="Detail-biaoti2">
                            {{data[0].carTitle2}}
                        </p>
                    </div>
                </div>
                <script>var break_line = document.getElementById("text_desc_p");
    var content = break_line.innerHTML;
    break_line.innerHTML = content.replace(/。/g, "。<br>");
    
    </script>
                <div class="Detail-Images">
                    <h2>外观图片：</h2>

                    <div id="DetailImages" class="row navbar-left navbar-DetailImages">
                        <ul class="nav list-unstyled list-inline">
                            {% for f in data[0].carMoreImage.split(",") %}
                            <li class="active col-xs-4 col-md-3"><a href="#" data-toggle="tab">
                                    <img style="max-width: 100%;" class="img-thumbnail viewer" src="{{f}}">
                                </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--放大图的imgModal-->





                </div>

                <div class="Detail-Images">
                    <h2>内饰图片：</h2>

                    <div id="DetailImages" class="row navbar-left navbar-DetailImages">
                        <ul class="nav list-unstyled list-inline">
                            {% for f in data[0].carMoreImage2.split(",") %}
                            <li class="col-xs-4 col-md-3"><a href="#" data-toggle="tab">
                                    <img style="max-width: 100%;" class="img-thumbnail viewer" src="{{f}}" alt="">
                                </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--放大图的imgModal-->





                </div>


            </div>
            <div id="DetailsContext" class="tab-pane fade Detail-show">
                <div class="DetailsContext-Box">
                    <div class="DetailsContext-Title">外观</div>
                    <h2 class="Detailscontext-SubTitle">规格配置</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4">
                            <label>车型结构：</label>
                            <span>{{data[0].carChexingjiegou}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>底盘类型：</label>
                            <span>{{data[0].carDipanleixing}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>准驾类型：</label>
                            <span>{{data[0].carZhunjialeixing}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>座位数：</label>
                            <span>{{data[0].carZuoweishu}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>车长（mm）：</label>
                            <span>{{data[0].carChechang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>车宽（mm）：</label>
                            <span>{{data[0].carChekuang}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>车高（mm）：</label>
                            <span>{{data[0].carChegao}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>轴距（mm）：</label>
                            <span>{{data[0].carZhouju}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>前轮距（mm）：</label>
                            <span>{{data[0].carQianlunju}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>后轮距（mm）：</label>
                            <span>{{data[0].carHoulunju}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>最小离地间隙（mm）：</label>
                            <span>{{data[0].carZuixiaolidijianxi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>整备质量（kg）：</label>
                            <span>{{data[0].carZhengbeizhiliang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>最大质量（kg）：</label>
                            <span>{{data[0].carZuidazhiliang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4"><label>接近角</label><span>{{data[0].carJiejinjiao}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>离去角</label><span>{{data[0].carLiqujiao}}</span></li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">底盘参数/动力/燃油/驱动</h2>
                    <ul class="row list-unstyled">

                        <li class="col-xs-12 col-md-4">
                            <label>前悬挂形式：</label>
                            <span id="carQianxuanguaxingshi">{{data[0].carQianxuanguaxingshi}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>后悬挂形式：</label>
                            <span>{{data[0].carHouxuanguaxingshi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>可变悬挂：</label>
                            <span>{{data[0].carKebianxuangua}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>发动机厂家型号：</label>
                            <span>{{data[0].carFadongjichangjiaxinghao}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>排量：</label>
                            <span>{{data[0].carPailiang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>进气形式：</label>
                            <span>{{data[0].carJinqixingshi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>发动机功率：</label>
                            <span>{{data[0].carFadongjigonglv}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>发动机马力：</label>
                            <span>{{data[0].carFadongjimali}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>发动机扭矩：</label>
                            <span>{{data[0].carFadongjiniuju}}</span>
                        </li>


                        <li class="col-xs-12 col-md-4">
                            <label>档位数：</label>
                            <span>{{data[0].carDangweishu}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>变速箱：</label>
                            <span>{{data[0].carBiansuxiang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>驱动方式：</label>
                            <span>{{data[0].carQudongfangshi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>燃油及标号：</label>
                            <span>{{data[0].carRanyoujibiaohao}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>环保标准：</label>
                            <span>{{data[0].carHuanbaobiaozhun}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>官方油耗(L)：</label>
                            <span>{{data[0].carGuanfangyouhao}}</span>
                        </li>


                        <li class="col-xs-12 col-md-4">
                            <label>油箱容积(L)：(L)：</label>
                            <span>{{data[0].carYouxiangrongji}}</span>
                        </li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">轮胎</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4">
                            <label>前轮胎规格：</label>
                            <span>{{data[0].carQianluntaiguige}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>后轮胎规格：</label>
                            <span>{{data[0].carHouluntaiguige}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>备胎规格：</label>
                            <span>{{data[0].carBeitaiguige}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>铝合金轮毂：</label>
                            <span>{{data[0].carLvhejinlungu}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>胎压监测系统：</label>
                            <span>{{data[0].carTaiyajiancexitong}}</span>
                        </li>


                    </ul>

                    <h2 class="Detailscontext-SubTitle">车外配置</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4">
                            <label>外置厨房：</label>
                            <span>{{data[0].carWaizhichufang}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>外置淋浴：</label>
                            <span>{{data[0].carWaizhilinyu}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>外置电视：</label>
                            <span>{{data[0].carWaizhidianshi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>遮阳篷：</label>
                            <span>{{data[0].carZheyangpeng}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>电动踏步：</label>
                            <span>{{data[0].carDiandongtabu}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>室外灯：</label>
                            <span>{{data[0].carShiwaideng}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>爬梯：</label>
                            <span>{{data[0].carPati}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>自行车架：</label>
                            <span>{{data[0].carZixingchejia}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>拖车钩：</label>
                            <span>{{data[0].carTuochegou}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>储物柜：</label>
                            <span>{{data[0].carChuwugui}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>拓展仓：</label>
                            <span>{{data[0].carQita}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>其他：</label>
                            <span>{{data[0].carQita}}</span>
                        </li>


                    </ul>

                    <div class="DetailsContext-Title">驾驶室</div>

                    <h2 class="Detailscontext-SubTitle">方向盘</h2>
                    <ul class="row list-unstyled">

                        <li class="col-xs-12 col-md-4">
                            <label>多功能方向盘：</label>
                            <span>{{data[0].carDuogongnengfangxiangpan}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>方向盘调节：</label>
                            <span>{{data[0].carFangxiangpantiaojie}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>助力转向类型：</label>
                            <span>{{data[0].carZhulizhuanxiangleixing}}</span>
                        </li>

                    </ul>

                    <h2 class="Detailscontext-SubTitle">座椅</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4">
                            <label>皮质座椅：</label>
                            <span>{{data[0].carPizhizuoyi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>织物/皮双拼座椅：</label>
                            <span>{{data[0].carZhiwupishuangpingzuoyi}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>驾驶位座椅调节：</label>
                            <span>{{data[0].carJiashiweizuoyitiaojie}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>副驾驶位座椅调节：</label>
                            <span>{{data[0].carFujiashiweizuoyitiaojie}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>第二排座椅调节：</label>
                            <span>{{data[0].carDierpaizuoyitiaojie}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>座椅高低调节：</label>
                            <span>{{data[0].carZuoyigaoditiaojie}}</span>
                        </li>

                        <li class="col-xs-12 col-md-4">
                            <label>座椅通风：</label>
                            <span>{{data[0].carZuoyitongfeng}}</span>
                        </li>
                        <li class="col-xs-12 col-md-4">
                            <label>前排座椅加热：</label>
                            <span>{{data[0].carQianpaizuoyijiare}}</span>
                        </li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">多媒体</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>音箱品牌：</label><span>{{data[0].carYinxiangpinpai}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>扬声器数量：</label><span>{{data[0].carYangshengqishuliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车载电视：</label><span>{{data[0].carChezaidianshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车载蓝牙：</label><span>{{data[0].carChezailanya}}</span></li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">安全气囊</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>驾驶位安全气囊：</label><span>{{data[0].carJiashiweianquanqinang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>副驾驶位安全气囊：</label><span>{{data[0].carFujiashiweianquanqinang}}</span></li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">空调</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>空调类型：</label><span>{{data[0].carKongtiaoleixing}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>后排空调出风口：</label><span>{{data[0].carHoupaikongtiaochukou}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车内空气净化：</label><span>{{data[0].carCheneikongqijinhua}}</span></li>
                    </ul>

                    <h2 class="Detailscontext-SubTitle">安全类配置</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>倒车雷达：</label><span>{{data[0].carDaocheleida}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>并线辅助：</label><span>{{data[0].carBingxianfuzhu}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>自适应巡航：</label><span>{{data[0].carZishiyingxunhang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>全景摄像头：</label><span>{{data[0].carQuanjingshexiangtou}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>倒车影像：</label><span>{{data[0].carDaocheyingxiang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>GPS导航：</label><span>{{data[0].carGPSdaohang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>定速巡航：</label><span>{{data[0].carDingsuxunhang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>无钥匙启动：</label><span>{{data[0].carWuyaoshiqidong}}</span></li>
                    </ul>




                    <div class="DetailsContext-Title">生活区</div>

                    <h2 class="Detailscontext-SubTitle">会客区</h2>
                    <ul class="row list-unstyled">

                        <li class="col-xs-12 col-md-4"><label>沙发座位数：</label><span>{{data[0].carZuoyitoncarShafazuoweishugfeng}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>行驶可乘坐人数：</label><span>{{data[0].carXingshikechengzuorenshu}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>沙发材质：</label><span>{{data[0].carShafacaizhi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>沙发床：</label><span>{{data[0].carShafazhuo}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>升降桌：</label><span>{{data[0].carShengjiangzhuo}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">厨房</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>房车专用抽油烟机：</label><span>{{data[0].carFangchezhuanyongchouyouyanji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>房车专用冰箱：</label><span>{{data[0].carFangchezhuanyongbingxiang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>冰箱容积：</label><span>{{data[0].carBingxiangrongji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>冰箱类型：</label><span>{{data[0].carBingxiangleixing}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>洗菜池：</label><span>{{data[0].carXicaichi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>水龙头冷热水可调：</label><span>{{data[0].carShuilongtoulengreshuiketiao}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>电磁炉：</label><span>{{data[0].carDiancilu}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>烤箱：</label><span>{{data[0].carKaoxiang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>微波炉：</label><span>{{data[0].carWeibolu}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>洗碗机：</label><span>{{data[0].carXiwanji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>燃气罐数量：</label><span>{{data[0].carRanxiguanshuliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>燃气罐容积：</label><span>{{data[0].carRanxiguanrongji}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">床位</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>单人床数量：</label><span>{{data[0].carDanrenchuangshuliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>单人床尺寸：</label><span>{{data[0].carDanrenchuangchicun}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>双人床尺寸：</label><span>{{data[0].carShuangrenchuangchicun}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>双人床数量：</label><span>{{data[0].carShuangrenchuangshuliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>总床位数：</label><span>{{data[0].carZongchuangweishu}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">卫生间</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>卫生间：</label><span>{{data[0].carWeishengjian}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>卫生间形式：</label><span>{{data[0].carWeishengjianxingshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>淋浴器：</label><span>{{data[0].carLinyuqi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>坐便器：</label><span>{{data[0].carZuobianqi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>卫生间洗手池：</label><span>{{data[0].carWeishengjianxishouchi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>暖风出口：</label><span>{{data[0].carNuanfengchukou}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>换气扇：</label><span>{{data[0].carHuanqishan}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>热水器：</label><span>{{data[0].carReshuiqi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>热水器类型：</label><span>{{data[0].carReshuiqileixing}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>洗衣机：</label><span>{{data[0].carXiyiji}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">供电系统</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>太阳能电池板：</label><span>{{data[0].carTaiyangnengdianchiban}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>太阳能电池板发电量：</label><span>{{data[0].carTaixiangnengdianchibanfadianliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>发电机：</label><span>{{data[0].carFadianji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>发电机类型：</label><span>{{data[0].carFadianjileixing}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>逆变器：</label><span>{{data[0].carNibianqi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>逆变器功率：</label><span>{{data[0].carNibianqigonglv}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>中央控制面板：</label><span>{{data[0].carZhongyangkongzhimianban}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>电瓶数量：</label><span>{{data[0].carDianpingshuliang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>电瓶电量：</label><span>{{data[0].carDianpingdianliang}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">供水系统</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>房车专用水泵：</label><span>{{data[0].carFangchezhuanyongshuibeng}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>净水箱容积：</label><span>{{data[0].carJingshuixiangrongji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>黑水箱容积：</label><span>{{data[0].carHeishuixiangrongji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>灰水箱容积：</label><span>{{data[0].carHuishuixiangrongji}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>排污方式：</label><span>{{data[0].carPaiwufangshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>饮水净化系统：</label><span>{{data[0].carYinshuijinghuaxitong}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">娱乐系统</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>车载Wifi：</label><span>{{data[0].carChezaiWifi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>卫星天线：</label><span>{{data[0].carWeixingdianshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车载电视：</label><span>{{data[0].carChezaidianshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车载KTV：</label><span>{{data[0].carChezaiKTV}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>DVD机头：</label><span>{{data[0].carDVDjitou}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>车载音响：</label><span>{{data[0].carChezaiyingxiang}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>音响数量：</label><span>{{data[0].carYinxiangshuliang}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">温度控制系统</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>驻车燃油加热系统：</label><span>{{data[0].carZhucheranyoujiarexitong}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>房车专用空调：</label><span>{{data[0].carFangchezhuanyongkongtiao}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>空调形式：</label><span>{{data[0].carKongtiaoxingshi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>燃气暖风系统：</label><span>{{data[0].carRanqinuanfengxitong}}</span></li>
                    </ul>
                    <h2 class="Detailscontext-SubTitle">安全系统</h2>
                    <ul class="row list-unstyled">
                        <li class="col-xs-12 col-md-4"><label>烟雾报警器：</label><span>{{data[0].carYanwubaojingxi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>煤气报警器：</label><span>{{data[0].carMeiqibaojingqi}}</span></li>
                        <li class="col-xs-12 col-md-4"><label>一氧化碳报警器：</label><span>{{data[0].carYiyanghuatanbaojingqi}}</span></li>
                    </ul>
                </div>
            </div>

            <div id="DetailsVideo" class="tab-pane fade Detail-show">

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span>房车文章|车型视频</h3>
                        </div>

                    

                        <div class="panel-body">
                            {% for item in carArticles %}
                            <a href="/articleDetails/{{item.articleID}}" class="row list-group-item" style="margin-left: 0px;margin-right: 0px;">
                                <div class="col-md-3">
                                    <img class="img-responsive" src="{{item.articleTitleImage}}" alt="">
                                </div>
                                <div>
                                        <h3>{{item.articleTitle}}</h2>
                                        <span>作者:{{item.articleZuozhe}}</span>
                                        <span>时间:{{item.updatedAt}}</span>
                                </div>                                            
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>


            <div id="DetailsContact" class="tab-pane fade Detail-show">
                <div class="row">

                    <section id="contact" class="col-md-10 col-md-offset-1">
                        <div class="lvjing">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h2>
                                            <span class="glyphicon glyphicon-send"></span>
                                            &nbsp
                                            联系我们
                                        </h2>
                                        <p>请留下您的联系方式吗，我们会安排专人尽快与您联系，您也可以添加微信：13436780368咨询房车事宜。</p>
                                        <address>
                                            
                                            <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp联系电话：13436780368</p>
                                            <p><span class="glyphicon glyphicon-envelope"></span>&nbsp邮箱：2629135340@qq.com</p>
                                        </address>
                                    </div>

                                    <div class="col-md-5 col-ofset-1">

                                        <div class="col-md-12">
                                            <input name="userName" type="text" class="form-control" placeholder="您的姓名" />
                                        </div>
                                        <div class="col-md-12">
                                            <input name="connection" type="text" class="form-control" placeholder="您的联系方式" />
                                        </div>
                                        <div class="col-md-12">
                                            <input name="targetCar" type="text" value="{{data[0].carTitle1}}" class="form-control"
                                                placeholder="您的意向车型" />
                                        </div>

                                        <div class="col-md-8">
                                            <button class="form-control" id="TellUS">提交</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- viewer 图片放大功能 -->
<script src="/static/js/bootstrap.viewer.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.viewer').bootstrapViewer(); //The default image source file path is the src attribute of the img tag.
    })
</script> {% endblock %}