<ul class="list-unstyled">
    <li class="col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/ruifu.jpeg">
            <p>瑞弗</p>
        </a>
    </li>
    <li class=" col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/shangqidazhong.jpeg">
            <p>上汽大众</p>
        </a>
    </li>
    <li class=" col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/kailunbinwei.jpg">
            <p>凯伦宾威</p>
        </a>
    </li>
    <li class="col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/zhongtian.jpeg">
            <p>中天</p>
        </a>
    </li>
    <li class="col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/huachen.jpeg">
            <p>华晨</p>
        </a>
    </li>
    <li class=" col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/qixing.jpg">
            <p>齐星</p>
        </a>
    </li>
    <li class="col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/lanzhong.jpg">
            <p>览众</p>
        </a>
    </li>
    <li class="col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <img src="/static/img/logo/jinghang.jpeg">
            <p>旌航</p>
        </a>
    </li>
    <li class=" col-md-4 col-xs-4">
        <a href="/cars" target="_blank">
            <div class="img">
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>房车大全</p>
        </a>
    </li>
</ul>