body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo{
    height: 80px;

}

.logo a{
    height: 80px;
    padding: 10px 10px 0px 10px;
    display: block;
}

.logo a>img{
    max-width: 100%;
    max-height: 100%;
}

.navbar-default{
    /*background-color: #4284d9;*/
    background-color:#4284d9;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
} 

 .navbar-default .navbar-brand{
    font-size: 28px;
    font-weight: bold;
    /* height: 70px;
    line-height: 35px; */
} 

 .navbar-default ul{
    margin:0px 10%;
}

.navbar-default .navbar-nav>li>a{
    font-size: 16px;
    font-weight: bold;
    color:whitesmoke;
    height: 50px;
    line-height: 25px;
} 



.navbar-default .navbar-toggle:hover{
    border-color:#40d281;
    background-color: #40d281;
}

.navbar-toggle{
    margin-top: 10px;
    margin-right: 25px;
}

/* Banner  */



.Banner-Div{
    border-radius: 4px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    display: block;
    height: 150px;
    overflow: hidden;
}

#Banner img{
    min-width: 100%;
}

/* footer */
footer{
    font-weight: 400;
    text-align: center;
    padding: 20px;
}


/*全局样式  */

a:focus{text-decoration:none;}
a:hover{text-decoration: none;}


