.chexinglist {
    height: 60px;
    background-color: #fff;
    font-size: 1rem;
}

.chexinglist li{ width: 10%; float:left; text-align:center; margin:0;}
.chexinglist a{display:block;width:auto;height:auto;color:#666; padding-top:10px;}
.chexinglist li a:hover{ background-color:#f4f4f4; color:#C00}
/*.chexinglist img{ width: 30px; height:auto;line-height:auto;}  */
.chexinglist span{
    white-space: nowrap; 
    display:block;
    line-height:auto !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}


.i_con2 {
    width: auto;
    margin: 0 auto;
    background-color: #fff;
}


/* 车型导航   */

.chexing-nav{
    margin-top: 1.5rem;
}

.navbar-chexing navbar>{
    background-color: white;
    border:none;
    box-shadow: none;
    margin-bottom:none;
}

.navbar-chexing>.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-chexing .navbar-brand{
    font-size: 14px;
    font-weight: bold;
    color:#1a1b20f3;
    height: 30px;
    line-height: 4px;
}

.navbar-chexing .navbar-nav>li>a{
    font-size: 14px;
    font-weight: bold;
    color:#666;
    height: 30px;
    line-height: 4px;
}

.navbar-chexing .navbar-toggle .icon-bar{
    background-color: #0e0f64
}

.navbar-chexing .navbar-toggle{
    margin-top: 3px;
}

.navbar-chexing .navbar-toggle:hover{
    border-color:#425df3;
    background-color: #425df3;
}

/* 车型导航内容  */


.chexing-a{
    font: size 1.3rem; 
    color:#666; 
    font-weight:bold;
}

.chexing-tab-content{
    font-size:1.3rem; 
    margin-top: 1.5rem;
    text-overflow:ellipsis;
}

.chexing-row{
    margin-bottom: 10px;
}


.chexing-logo{
    display: inline;
    align-content: center; 
}

.chexing-logo img{
    max-width: 80%;
}

.pinpaiimg{
    align-items: center; 
}

.chexing-logo span{
    text-align:center;
    float: left;
}


.img-responsive{
    min-width: 30px;
}


/* 10-30 车型*/
.a2{
    font-size: 1.4rem;
    text-align: center;
}

.zt3a  a{ color:#999; font-size: 1rem;}
.zt3a  a:hover{ color:#F00;}




/*  轮播广告  */

.ad-carousel{
    height: 220px;
    overflow: hidden;
}



/*  文章   */

.h2-context{
    margin-top : 5px;
    margin-bottom :5px;
}


/*  联系我们    */

#contact{
    background:url(/static/img/map/MAP.png)no-repeat;
    background-size: cover;
    color:#fff;

}

#contact h2{
    margin-bottom: 25px;
    font-weight: bolder;
}

#contact p{
    line-height: 25px;
    margin-bottom: 20px;
}

.lvjing{
    background:rgb(0,0,0,0.7);
    width: 100%;
    height: 100%;
    padding: 90px 0;

}

#contact .form-control{
    border: none;
    border-radius: 0;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
}

#contact textarea.form-control{
    height: auto;
}

#contact input[type='submit']{
    background:#40D2B1;
    color: #FFF;
    font-weight: bold;
    transition: all 0.3s;
}

#contact input[type='submit']:hover{
    background:rgb(44, 142, 120);
}

#contact .modal-body{
    color: black;
}