/* DetailTab  */

.navbar-DetailTab{
    display: block;
    margin-top: 80px;
    height: auto;
}

.navbar-DetailTab li{
    height: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.navbar-DetailTab li a{
    background-color:white;
    display: block;
    line-height: 5.5rem;
    border:1px solid black;
    border-radius: 4px;
    width: 80%;
    height: 7rem;
    font-size: 2rem;
    font-family: 黑体;
}



.navbar-DetailTab li a:hover{
    background-color: #45558c;
    color: #a3a9bd;
}


.navbar-DetailTab li a:active{
    background-color: #45558c;
    color: #a3a9bd;
}


.Detail-show{
    display: block;
    margin-top: 10px;
    /* border-top: 1px solid #e0e0e0; */
}

.Detail-biaoti{
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}


.Detail-biaoti1{
    color: #33395b;
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.Detail-biaoti2{
    color: #9296a8;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
}


/* #Image部分 */

.Detail-Images{
    margin-top:20px;
}

.navbar-DetailImages a {
    text-align: center;

}




/* 车型详情  */

.DetailsContext-Box li{
    padding: 5px 1rem 0;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.DetailsContext-Title{
    background: #d38787;
    color: #fff;
    width: 180px;
    text-align: center;
    font-size: 2rem;
}

.Detailscontext-SubTitle{
    margin-top: 20px;
    color: #333;
    font-size: 1.7rem;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;

}


.DetailsContext-Box ul li {
    float: left;
}

label {
    float: left;
    width: 40%;
    font-weight: 500;
}

